@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    width: 100%;
    background-image: url("../imagens/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;

    section {
        height: 30rem;
        width: 50%;
        box-shadow: 0 0 1.25rem black;
        background-color: transparent;
        backdrop-filter: blur(0.6rem);
        
        text-align: center;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 8rem;
        }

        h3 {
            font-size: 2.5rem;
            margin-bottom: 1.3rem;
        }    

        p {
            width: 31.25rem;
        }

        input {
            font-size: 1rem;
            margin-top: 1.3rem;
            padding: 1rem;
            border-style: none;
            border-radius: 0.6rem;
            background-color: #bf446a;
            color: white;
            cursor: pointer;
            transition: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 1250px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 630px) {
    :root {
        font-size: 7px;
    }
}

@media (max-width: 430px) {
    :root {
        font-size: 5px;
    }
}

@media (max-width: 350px) {
    :root {
        font-size: 3px;
    }
}